<div class="row">
	<!-- Sidebar -->
	<div class="col-md-3" ng-controller="PathsCtrl">
		<h3>Folders</h3>

		<treecontrol class="tree-classic"
		   tree-model="folderModel"
		   options="folderTreeOptions"
		   on-selection="folderItemClicked(node)">
		   <span class="item-name">{{node.name}}</span><span class="item-count">{{node.itemCount}}</span>
		</treecontrol>

		<h3>Collections</h3>
		<ul>
			<li ng-repeat="collection in collections">{{collection}}</li>
		</ul>
	</div>

	<!-- Content -->
	<div class="col-md-9" ng-controller="MainCtrl">
		<div ng-show="hasError" class="alert alert-danger">Failed to load database.</div>
		<div infinite-scroll='onLoadMoreContent()' infinite-scroll-disabled='loadingData' infinite-scroll-distance='1'>
			<div class=row ng-repeat="fileGroup in files | groupBy:4">
				<div class="col-md-3 letter-box" ng-repeat="file in fileGroup" >
					<img src="http://placehold.it/200x133&text={{file.fileName}}">
					<div>{{file.fileName}}</div>
				</div>
			</div>
		</div>
		<div ng-show="loadingData" class="alert alert-info" role="alert">Loading more data...</div>
	</div>
</div>

