<div class="row">
	<!-- Sidebar -->
	<div class="col-md-3" ng-controller="PathsCtrl">
		<h3>Folders</h3>

		<treecontrol class="tree-classic"
		   tree-model="folderModel"
		   options="folderTreeOptions">
			{{node.name}}
		</treecontrol>

		<h3>Collections</h3>
		<ul>
			<li ng-repeat="collection in collections">{{collection}}</li>
		</ul>
	</div>

	<!-- Content -->
	<div class="col-md-9" ng-controller="MainCtrl">
		<div ng-show="hasError" class="alert alert-danger">Failed to load database.</div>
		<div class=row ng-repeat="fileGroup in files | groupBy:4">
			<div class="col-md-3 letter-box" ng-repeat="file in fileGroup" >
				<div>{{file.fileName}}</div>
			</div>
		</div>
	</div>
</div>

