<h3>Settings</h3>

<div ng-controller="SettingsCtrl">
	<p>
	Enter the settings for your Amazon S3 bucket. These settings are only saved locally to your computer and are
	not stored/sent anywhere else.
	</p>
	<form class="form-horizontal">
	  <h4>Amazon AWS</h4>
	  <div class="form-group">
		<label for="inputAccessKey" class="col-sm-2 control-label">Access Key</label>
		<div class="col-sm-6">
		  <input type="text" class="form-control" ng-model="credentials.accessKey">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputSecretKey" class="col-sm-2 control-label">Secret Key</label>
		<div class="col-sm-6">
		  <input type="password" class="form-control" ng-model="credentials.secretKey">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputRegion" class="col-sm-2 control-label">Region</label>
		<div class="col-sm-6">
		  <input type="text" class="form-control" ng-model="credentials.region">
		</div>
	  </div>

	  <h4>Adobe Lightroom</h4>

	  <div class="form-group">
		<label for="inputCatalog" class="col-sm-2 control-label">Lightroom Catalog Location</label>
		<div class="col-sm-6">
		  <input type="text" class="form-control" ng-model="lr.pathToLrCat" placeholder="/path/to/Catalog.lrcat">
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
		  <button type="submit" ng-click="save(credentials, lr)" class="btn btn-default">Save</button>
		</div>
	  </div>
	</form>
</div>
